body{
margin:0;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#ff9acb,#ff5fa2);
font-family:Arial;
overflow:hidden;
text-align:center;
color:white;
}

h1{
font-size:40px;
margin-bottom:10px;
z-index:2;
}

#message{
font-size:28px;
height:40px;
z-index:2;
}

.buttons{
margin-top:20px;
z-index:2;
}

button{
padding:15px 30px;
font-size:20px;
border:none;
border-radius:12px;
cursor:pointer;
margin:10px;
transition:0.3s;
}

#yesBtn{
background:#2ecc71;
color:white;
}

#noBtn{
background:#e74c3c;
color:white;
}

/* serduszka */

.heart{
position:absolute;
color:white;
font-size:20px;
animation:float 6s linear infinite;
opacity:0.7;
}

@keyframes float{
0%{
transform:translateY(100vh);
}
100%{
transform:translateY(-10vh);
}
}